[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
flask-testing = "*"
flask-migrate = "*"
bcrypt = "*"
pyjwt = "*"
pytz = "*"

[requires]
python_version = "3.8"
